*, 
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* 
body{
    font-size: 18px;
    line-height: 17.89px;
    
    
} */

.flex{
    display: flex;
}


nav{
    justify-content: space-between;
    width: 97%;
    align-items: center;
    padding-left: 2rem;
    height: 10vh;
    max-height: 10vh;
}

.logo{
    width: 148px;
    height: 85px;
    background: url("./assets/logo1\ 1.png");
    object-fit: contain;
}

body{
    background-color: #fff;
}
#nav-search{
    padding:2px;
}
.nav-links-container{
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    gap: 1rem;
}

.search-container{
    align-items: center;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
}


#nav-search{
    border:none;
    outline: none;
}

.nav-icons-grp{ 
    width: 25px;
    height: 25px;
}

#arrow-logo{
    width: 18px;
    height: 18px;
    margin-top: 0px;
}

.avtar-container{
    align-items: center;
}

.main-container{
    gap: 2rem;
    align-items: flex-start;
}

.dashboard-content-wrapper{
    min-height: 90vh;
    width: 25vw;
    max-width: 25vw;
    min-width: 300px;
    padding: 1rem;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);
}

.dashboard-header{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 600, semibold;
    font-style: normal;
    size: 26px;
    line-height: 23.27px;
    text-align: center;
    color:#00904C;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;;

}

.dasboard-sub-heading{
    margin-top: 1.5rem;
    gap: 1rem;
    
}

.dasboard-sub-heading h3{
    font-weight: 500, medium;
    font-size: 17px;
    line-height: 19.6px;
    color: #4A4343;
}

.bullet-points h6{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 14.91px;

}


.bullet-points{
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 3rem;
}



.class{
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2.5rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.data-entry-section{
    color:#434343;
    margin-top: 1rem;
    width: 70vw;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-around;
    border-radius:0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    padding-bottom: 3rem;
}

.input-section-wrapper{ 
    flex-direction: column;
    width: 40%;
}

.data-input{
    width: 100%;
    margin-top: 0.75rem;
}

.button-section{
    gap: 1rem;
    width: 92%;
    justify-content: flex-end;
    outline: none;
    border-radius: 5px;
    
}


.cancel{
    background: #DDDDDD;
    color: #434343;
}

.save{
    background:#2E3192;
    color: #fff;
}
.btn{
    font-weight: 400;
    font-size:14px;
    line-height: 12.53px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: transparent;
   
}
.main-body-header{
    font-weight: 500, medium;
    font-size: 28px;
    line-height: 27.83px;
    color: #2E3192;
}

label{
    font-weight: 400;
    font-size: 25px;
    line-height: 22.38px;
}

.data-input{
    line-height:22.38px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
}
