*,
::before,
::after{
    margin: 0;
    padding:0;
    box-sizing: border;
}

body{
    font-family: 'Poppins', sans-serif;
}


.flex{
    display: flex;
}

nav{
    margin-top: 0.5rem;
    
}
.nav-center{
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;

}

.logo{
    width: 148px;
    height: 85px;
    background: url("./assets/logo1\ 1.png");
    object-fit: contain;
}

/* Search section hide by default */
.nav-links-container{
    height: 0px;
    overflow: hidden;
    transition:  all 0.2s;
    
}

.show-nav-links-container{
    height: 8vh;
    gap:0.3rem;
    margin-top: 0.5rem;
    align-items: center;
    width: 98vw;
    justify-content: space-between;
    
}


.toggle{
    transform: rotate(0deg) ;
    transition: all 0.3s;
}

.fas{
    background-color: transparent;
    color: #00904C;
    padding: 0.25rem , 0.5rem, 0.25rem;
}
.rotate{
    transform: rotate(180deg);
}

.nav-icons-grp{
    height: 30px;
    width: 30px;

}

.profile-down-arrow{
    width: 20px;
    height: 20px;
}

.avtar-container{
    align-items: center;
}

#setting-logo,
#notification-logo{
    width: 20px;
    height: 20px;
}

.search-container{
    align-items: center;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
}

#nav-search{
    border:none;
    outline: none;
}


/* 
===============================
    Chart section
===============================
*/

/* 
===============================
dashboard section 
===============================   
*/

.dashboard-container{
    height: 0px;
    overflow: hidden;
    transition:  all 0.2s;
    margin-bottom: 1rem;
}

.show-dashboard-container{
    margin-top:1rem;
    height: 725px;
    overflow: hidden;
    
}

.dashboard-heading{
    width: 100vw;
    padding-left: 1rem;
}


.dashboard-header{

    padding-bottom: 0.5rem;
    font-weight: 600;
    font-style: normal;
    size: 1.5em;
    text-align: center;
    /* color:#00904C; */
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;

    margin-top: 0.1rem;

}

.dasboard-sub-heading{
    margin-top: 0.75rem;
    gap: 1rem;
    
}

.dasboard-sub-heading h3{
    font-weight: 400;
    font-size: 1.15em;
    font-style: normal;
    line-height: 19.6px;
    color: #4A4343;

}

.bullet-points h6{
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    line-height: 14.91px;

}


.bullet-points{
    margin-top: 0.5rem;
    gap: 1rem;
    padding-left: 3rem;
}



/* 
===============================
data entry secition
===============================   
*/

.data-entry-section-container{
    margin-top: 2rem;
    max-width: 90%;
    margin: auto auto;

}

.main-heading{
    font-family: 'Poppins', sans-serif; ;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: #2E3192;
    margin: auto auto;
    line-height: 27.83px;
}

.input-section-container{
    width: 100%;
}

.input-container{
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    
}

.input-section-wrapper{
    margin-top: 1rem;
    flex-direction: column;
    gap:0.25;
    width: 80%; 
    
}

.data-input{
    line-height:22.38px;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 0.2rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: transparent;
}

.buttons-container{
    margin-top:1.5rem;
    gap: 1rem;
}

.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn{
    padding: .25rem .5rem;
    border-radius: 5px;
    border: transparent;
}
.cancel{
    background: #DDDDDD;
    color: #434343;
}

.save{
    background:#2E3192;
    color: #fff;
}


.logout-section{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.logout-wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content:center;
    width: fit-content;
    padding: 0.25rem;
    font-size: 1.5em;
    color: #4A4343;
    font-size: normal;
    
}


canvas{
    width: 50vw;
}

/* 
=========================================
form section styles
=========================================
*/



.form-heading{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color:#6D6767;
   
    
}


.underline{
    height: 1px;
    background-color:#6D6767;
    border: transparent;
    width: 13.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#reservation-form>label{
    display: block;
    line-height: 1em;
    margin-top: 1.5rem;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    color: #333333;

}

.free-pickups-radio-options{
    display: inline-block;
    max-width: 100%;
    
}

.free-pickups-radio-options input, 
.free-pickups-radio-options label{
    margin-top: 0.2rem;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    color: #333333;
   

}

.reservation-form-input{
    width: 100%;
    line-height: 1.75em;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.2rem;
    color: #4A4343;
    text-indent: 0.2em;
    background-color: #e5e5e5;
    /* outline: transparent; */
    border: transparent;
    
}

#room-type{
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    color: #4A4343;
}

option{
    font-size: 1.2em
}


textarea{
    font-size: 1.2em;
    font-style: normal;
    margin-top: 0.2rem;
    color: #4A4343;
    text-indent: 0.2em;
    background-color: #e5e5e5;
    border: transparent;
    vertical-align: top;
    margin-top: 0.2rem;
    width: 100%;
}


/* 
===============================================================
tablet screens
===============================================================   
*/


@media screen and (min-width: 600px){

    .form-container{
        display: flex;
        justify-content: center;3.
    }

    .input-container{
        flex-direction: row;
        flex-wrap: wrap;
    }    

    .logout-section{
        margin-bottom: 1.5rem;
    }

    textarea, 
    .reservation-form-input,
    .reservation-form-input,
    #room-type
    {
        width: 60vw;
    }
}
 

/* 
===============================
for laptop screns
===============================   
*/

@media screen and (min-width: 900px){

    

    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 0px; 
    }

    .toggle{
        display: none;
    }


    
    .nav-links-container{
        height: 8vh;
        gap:0.3rem;
        margin-top: 0.5rem;
        align-items: center;
        gap: 1rem;
        max-width: 50vw;
        padding-right: 2rem;
         
    }
    

    .main-container{
        display: flex;
        gap: 1rem;
        max-width: 100vw;
    }
/* 
===============================
dashboard secition
===============================   
*/

.dashboard-container{
    height:90vh;
    margin-top:1rem;
    max-width: 25vw;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);
    margin-top: 0px;
    margin-bottom: 0px ;

   
}






/* 
===============================
data entry secition
===============================   
*/

.data-entry-section-container{
    margin-top: 2rem;
    max-width: 70vw;
    
}

.main-heading{
    font-family: 'Poppins', sans-serif; ;
    font-size: 28px;
    font-weight:400;
    font-style: normal;
    color: #2E3192;
    margin: auto auto;
    line-height: 27.83px;
}

.input-container{
   min-width: 50vw;
   
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1.5em;
   justify-content: space-around;
   padding-left: 0;
   
}

label{
    color: #434343;
}

.input-section-wrapper{
    width: 40%;
    justify-content: space-between;
    padding-left: 0;

}

.chart-container{
    width: 65vw;
}

.buttons-container{
    margin-top: auto;
    display: block;
    gap: 2rem;
    margin-right: 0;

    width:100%;
    
}

.buttons{
    display: flex;
    width: 92%;
    margin: auto auto;
    gap: 1rem;
    justify-content: flex-end;
}

.logout-section{
    position: absolute;
    right: 2rem;
    bottom: 0rem;
}

.logout-wrapper{
    font-size: 1.25em;
}

canvas{
    width: 70vw;
    padding: 1rem;
}

/* 
======================================
form Section
=======================================


*/
form{
    padding: 0rem 1.5rem 0rem 5rem;
}

#reservation-form>label{
    display: inline-block;
    line-height: 1em;
    margin-top: 1rem;
    font-size: 1em;
    min-width: 20vw;

}


.free-pickups-radio-options input, 
.free-pickups-radio-options label{ 
    display: inline;
    font-size: 1em;
}



.reservation-form-input{
    width: 30vw;
    font-size: 1em;

}

#room-type{
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    width: 30vw;
    color: #4A4343;
    line-height: 1.5em;
}


textarea{
    width: 30vw;
    margin-top: 1rem;
}


}