*,
::before,
::after{
    margin: 0;
    padding:0;
    box-sizing: border;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    margin-bottom: 5rem;
}
.flex{
    display: flex;
}

nav{
    margin-top: 1rem;
    
}
.nav-center{
  
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;

}

.logo{
    width: 148px;
    height: 85px;
    background: url("./assets/logo1\ 1.png");
    object-fit: contain;
}

/* Search section hide by default */
.nav-links-container{
    height: 0px;
    overflow: hidden;
    transition:  all 0.2s;
    
}

.show-nav-links-container{
    height: 8vh;
    gap:0.3rem;
    margin-top: 0.5rem;
    align-items: center;
    width: 98vw;
    justify-content: space-between;
    
}


.toggle{
    transform: rotate(0deg) ;
    transition: all 0.3s;
}

.rotate{
    transform: rotate(180deg);
}

.nav-icons-grp{
    height: 30px;
    width: 30px;

}

.profile-down-arrow{
    width: 20px;
    height: 20px;
}

.avtar-container{
    align-items: center;
}

#setting-logo,
#notification-logo{
    width: 20px;
    height: 20px;
}

.search-container{
    align-items: center;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
}

#nav-search{
    border:none;
    outline: none;
}

/* 
===============================
dashboard section 
===============================   
*/

.dashboard-container{
    height: 0px;
    overflow: hidden;
    transition:  all 0.2s;
    margin-bottom: 1rem;
}

.show-dashboard-container{
    margin-top:1rem;
    height: 725px;
    overflow: hidden;
}

.dashboard-heading{
    width: 100vw;
    padding-left: 1rem;
}


.dashboard-header{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
    font-style: normal;
    size: 1.5em;
    text-align: center;
    /* color:#00904C; */
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;;

}

.dasboard-sub-heading{
    margin-top: 1.55rem;
    gap: 1rem;
    
}

.dasboard-sub-heading h3{
    font-weight: 500, medium;
    font-size: 1em;
    line-height: 19.6px;
    color: #4A4343;
}

.bullet-points h6{
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    line-height: 14.91px;

}


.bullet-points{
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 3rem;
}



/* 
===============================
data entry secition
===============================   
*/

.data-entry-section-container{
    margin-top: 2rem;
    width: 90%;
    margin: auto auto;
}

.main-heading{
    font-family: 'Poppins', sans-serif; ;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: #2E3192;
    margin: auto auto;
    line-height: 27.83px;
}

.input-container{
    margin-top: 1rem;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    max-width: 95%;
}

.input-section-wrapper{
    margin-top: 1rem;
    flex-direction: column;
    gap:0.25;
    width: 80%; 
    
}

.data-input{
    line-height:22.38px;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
}

.buttons-container{
    margin-top:1.5rem;
    gap: 1rem;
}

.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn{
    padding: .25rem .5rem;
    border-radius: 5px;
    border: transparent;
}
.cancel{
    background: #DDDDDD;
    color: #434343;
}

.save{
    background:#2E3192;
    color: #fff;
}



/* 
===============================
for laptop screns
===============================   
*/

@media screen and (min-width: 1000px){

    

    nav{
        display: flex;
        justify-content: space-between;
      
        
    }

    .toggle{
        display: none;
    }


    
    .nav-links-container{
        height: 8vh;
        gap:0.3rem;
        margin-top: 0.5rem;
        align-items: center;
        gap: 1rem;
        max-width: 50vw;
        padding-right: 2rem;
        
       
        
    }
    
   

    .main-container{
        display: flex;
        gap: 3rem;
        max-width: 100vw;
        /* overflow: hidden; */
    }
/* 
===============================
dashboard secition
===============================   
*/
.dashboard-container{
    height:fit-content;
    margin-top:1rem;
    max-width: 25vw;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);;
}







/* 
===============================
data entry secition
===============================   
*/

.data-entry-section-container{
    margin-top: 4rem;
    max-width: 70vw;

    
}

.main-heading{
    font-family: 'Poppins', sans-serif; ;
    font-size: 28px;
    font-weight:400;
    font-style: normal;
    color: #2E3192;
    margin: auto auto;
    line-height: 27.83px;
}

.input-container{
   min-width: 50vw;
   max-width: 65vw;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1.5em;
   justify-content: space-around;
   padding-left: 0;
   
}

label{
    color: #434343;
}
.input-section-wrapper{
    width: 40%;
    justify-content: space-between;
    padding-left: 0;

}

.buttons-container{
    margin-top: auto;
    display: block;
    gap: 2rem;
    margin-right: 0;

    width:100%;
    
}

.buttons{
    display: flex;
    width: 92%;
    margin: auto auto;
    gap: 1rem;
    justify-content: flex-end;
}

}